<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>管理后台默认首页</title>
<style>
body {
  background-color: #eee;
}
.info {
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  text-align: center;
  margin-top: 15%;
  font-size: 14px;
}
</style>
</head>
<body>
  <div class="info">Tomato后台管理界面默认首页，点击顶栏的菜单开始。</div>
</body>
</html>